

.Layout {
    height: 100vh; 
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: auto 1fr auto;
    gap: 10px; 
    background-color: #f5f5f5; 
}

header, footer {
    grid-column: span 2; 
    height: 50px;
    background-color: #2F4F4F; 
    color: white; 
    text-align: center;
    font-weight: bold; 
}

main {
    overflow: auto; 
    padding: 20px; 
    background-color: white; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.Layout, .Layout > * {
    border: 1px solid #ddd; 
}

@media (max-width: 768px) {
    .Layout {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }

    main {
        padding: 10px;
    }
}