

.Menu {
    display: flex;          
    flex-direction: column; 
    padding: 10px;        
}

.MenuLabel {
    background-color: #2F4F4F; 
    color: white;            
    padding: 8px 12px;    
    font-weight: bold;       
    text-align: center;      
    border-radius: 5px;     
    margin-bottom: 10px;    
}

a {
    text-decoration: none; 
    color: grey; 
    margin: 5px 0; 
}


a:hover {
    color: #2F4F4F; 
}
